<p style="color: green"><%= notice %></p>

<h1>Registered Classes</h1>

<% if user_signed_in? %>
<div id="reg_classes">
<table>
  <tr>
    <th>Title</th>
    <th>Subject</th>
    <th>Course Number</th>
    <th>Semester</th>
    <th>Days</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Instructor</th>
  </tr>
  <% RegClass.where(user_id: current_user.id).each do |reg_class| %>
    <tr>
    <%= render reg_class %>
    </tr>
    <p>
      <!-- <%= link_to "Show this registered class", reg_class %> -->
    </p>
  <% end %>
  </table>
</div>
<% end %>

  <div class="btn-container">
    <div class="btn-box">
    <%= link_to "View Available Courses", avail_courses_path, class: 'btn btn-primary'  %>
    <%= link_to "View Calendar", "calendar", class: 'btn btn-primary'  %>
  </div>
</div>
<!-- <%= link_to "New registered class", new_reg_class_path %> -->


